html {
  height: 100%;
  width: auto;
}

body {
  font-family: 'Kanit', sans-serif;
  background-image: url("../resources/mainPage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#content {
  /* width: auto;
  height: 1000px; */

}
